.landing-page
{
    background-color: #E9FAFC;
}
ul li
{
    list-style: none;
    display: inline;
    float: right;
    padding: 10px;
    font-size: 15px;
}
.statement
{
    font-size: 10px;
    margin-left: 5%;
}
.statement h1
{
    padding: 1% 0 0 2%;
}
.stmt
{
    font-size: 20px;
    margin-left: 5%;
}
.head h1
{
    font-size: 60px;
    margin-left: 5%;
}
.h1
{
    color: blue;
}
.h2
{
    color: blue;
}
.h3
{
    color: blue;
}
.h4
{
    color: blue;
}
.h5
{
    color: blue;
}
.h6
{
    color: blue;
}
.statement p
{
    font-size: 11px;
    color: #F77F08;
}
.cols
{
    margin-left: 4%;
}
.image img
{
    border-radius: 50%;
    width: 30%;
    border: 50px solid rgb(206, 191, 191);
    margin: -35% 0 0 55%;
}
.header h1
{
    font-size: 40px;
    margin-left: 10%;
}
.buttn
{
    font-size: 15px;
    margin: 10% 0 0 5%;
    background-color: #1AA0AB;
    padding: 1% 3%;
    border-radius: 15px;
}
.cont-2
{
    background-color: #F8FEFF;
}
#par
{
    margin: -5% 0 0 70%;
    font-size: 20px; 
}


.col-1
{
    display: flex;
    padding: 5%;
}
.ic 
{
    color: #1AA0AB;
    margin: -4.5% 0 0 19%;
}
.rad p
{
    font-size: 17px;
}
.rad h2
{
    font-size:23px ;
}
.rad
{
    margin-left: 4%;
    background-color: #FFFFFF;
    padding: 1%;
    height: 26vh;
    width:25%;
    text-align: left;
    font-size: 50px;
}
.amblu
{
    margin-left: 4%;
    background-color: #FFFFFF;
    padding: 1%;
    width:25%;
    height: 26vh;
    text-align: left;
    font-size: 50px;

    
}
.amblu p
{
    font-size: 17.5px;
}
.amblu h2
{
    font-size:23px ;
}
.dental
{
    margin-left: 4%;
    background-color: #FFFFFF;
    padding:1%;
    width: 25%;
    height: 26vh;
    text-align: left;
    font-size: 50px;
}
.dental h2
{
    font-size: 22px;
}
.dental p
{
    font-size: 17px;
}
.col-2
{
    display: flex;
    padding:5% ;
}
.surgical
{
    background-color: #FFFFFF;
    padding: 1%;
    width:25% ;
    height: 26vh;
    text-align: left;
    margin: -5% 0 0 4%;
    font-size: 30px;
}
.surgical h2
{
    font-size: 22px;
}
.surgical p
{
    font-size: 17px;
}
.part
{
    background-color: #FFFFFF;
    padding: 1%;
    width:25% ;
    height: 26vh;
    text-align: left;
    margin: -5% 0 0 4%;
    font-size: 50px;

}
.part h2
{
    font-size: 22px;
}
.part p
{
    font-size: 17px;
}
.hostel
{
    background-color: #FFFFFF;
    padding: 1%;
    width:25% ;
    height: 26vh;
    text-align: left;
    margin: -5% 0 0 4%;
    font-size: 50px;
    
}
.hostel p
{
    font-size: 17px;
}
.hostel h2
{
    font-size: 22px;
}


.header-2 h1{
    margin:0 0 15% -25%; 
    font-size: 40px; 
}
.sec-2
{
    display: flex;
    padding: 5%;
    background-color: #E9FAFC;
}
.vet-img img
{
    border-radius: 35px;
    margin-left: 5%;
}
.para p
{
    margin-left: -25%;
    font-size: 19px;
}
.header-2
{
    margin-left: 25%;
}
.conta
{
    margin: 10% 0 0 -25%;
    background-color: #1AA0AB;
    padding:3% 6% 3% 6%;
    border-radius: 15px;
}
.bestdocs{
    display: flex;
    padding: 30px;
}
.img2{
    height: 7%;
    margin: -4% 0 0 5%;
}
.img3{
    height: 7%;
    margin:1% 0 0 -4%;
    padding: 20px;
    
}
.img1{
    height: 7%;
    padding: 20px; 
    margin:1% 0 0 7% ;
}
.img3 p
{
    font-size: 15px;
    margin-left: 50%;
}
.img2 p
{
    font-size: 15px;
    margin-left: 10%;
    margin-top: -1%;
    
}
.img1 p
{
    font-size: 15px;
}

.header-3
{
    display: flex;
}
.header-3 h1
{
    font-size: 40px;
    margin-left: 6%;
    
}
.header-3 p
{
    font-size: 25px;
    margin: 2.5% 0 0 28%;
}
.col-3 img
{
    height: 30px;
    border-radius: 95px;
}
.p1 p1
{
    margin-bottom: 5%;
}
.woman
{
    margin: 5% 0 -7% 5%;
}

.ratt
{
    margin-top: 2.5%;
    color: #F77F08;
}
.ratt p3
{
    color: #000000;
}
.col-3
{
    display: flex;
    background-color: #F8FEFF;
}
.col-3-2
{
    background-color: #ffffff;
    padding: 10% 0 0 5%;
    margin: 2.5% 0 0 5%;
    height: 35vh;
    width: 35%;
}
.sent
{
    margin-top: -15%;
}
.col-3-2 h2
{
    font-size: 27px;
}
.col-3-2 p
{
    font-size: 17px;
}
.col-3-1
{
    background-color: #ffffff;
    margin: 2.5% 0 0 5%;
    width: 35%;
    height: 35vh;
    padding: 10% 0 0 5%;
}
.col-3-1 h2
{
    font-size: 27px;
}
.col-3-1 p
{
    font-size: 17px;
}
.docs
{
    margin-top: 10%;
    background-color: #F8FEFF;
}
.best-docs
{
    display: flex;
    margin-top: 7%;
    background-color: #F8FEFF;
}
.information
{
    display: flex;
}

.p1
{
    margin-left: 10%;
}
.header-4 h1
{
    font-size: 47px;
    margin-left: 10%;
}
.header-4 p
{
    margin: -6% 0 0 80%;
    font-size: 20px;
    color: #3BACB6;
}
.img1 img
{
    height: 60vh;
}  
.img2 img
{
    padding: 50px;
    height: 60vh;
    margin-top: 8%;
}  
.name
{
    margin-top: -9%;
}
.img3 img
{
    height: 60vh;
    margin-left: 50%;
    background-color: #1d5d64;
}

.header-5 
{
    background-color: #E9FAFC;
    height: 50vh;
    width:70%;
    margin-left: 15%;
    border-radius: 10px;
}
.header-5 h1
{
    font-size: 40px;
    margin-left: 30%;
    padding-top: 5%;
}
.header-5 p
{
    font-size: 20px;
    background-color: #ffffff;
    height: 20%;
    width: 60%;
    margin:5% 0 0 20%;
    border-radius: 10px;
    padding: 3.5% 0 0 3%;
}
#sub
{
    background-color: #1AA0AB;
    padding:4%;
    margin-left: 35%;
    border-radius: 10px;
    /* margin-bottom:-5%; */
}
.contacts
{
    margin: 5% 0 0 15%;
}
.contacts p
{
    font-size: 15px;
}
.prod
{
    margin: 5% 0 0 11%;
}
.prod p
{
    font-size: 15px;
}
.comm
{
    margin: 5% 0 0 11%;
}
.comm p
{
    font-size: 15px;
}
.about
{
    margin: 5% 0 0 9%;
}
.about p
{
    font-size: 15px;
}
 
.quote
{
    color: #1AA0AB;
}

    

























